@import "./base.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;

  box-sizing: border-box;
  overflow-x: hidden;
  background: radial-gradient(
      circle at 20% 10%,
      rgba(16, 52, 114, 0.9),
      transparent 40%
    ),
    radial-gradient(circle at 100% 50%, rgba(15, 55, 123, 0.9), transparent 40%),
    radial-gradient(circle at 0% 75%, rgba(15, 55, 123, 0.9), transparent 40%),
    radial-gradient(
      circle at 100% 100%,
      rgba(15, 55, 123, 0.9),
      transparent 30%
    );

  background-color: #000;
  background-blend-mode: normal;
}

.button{
  background: rgb(18, 65, 136);
  background: linear-gradient(
    90deg,
    rgba(18, 65, 136, 1) 0%,
    rgba(67, 164, 229, 1) 100%
  );
  border: none;
  cursor: pointer;
  border-radius: 2em;
  color: white;
  padding: 0.5em 1.1em;
  margin: 5px 0;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  border-radius: 1.5em;
  text-decoration: none;
  display: inline-block;
}

.flex{
  display: flex;
}