.action-items {
  display: flex;
  align-items: center;
}

#opening-line-parent{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#opening-line {
  width: 50%;
  color: white;
  z-index: 10; /* Ensures the heading is on top of the canvas */
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(165, 0, 247, 1) 100%
  );

  background-clip: text;
  color: transparent;
  font-weight: bold;
}

#demo-canvas {
  /* background: #161616; */
  background: #161616;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

/*Changed min to max width here since the default css is acceptable for desktop pages*/

@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (max-width: 768px) {
  /* #opening-line {
    top: 9em;
    left: 4em;
    font-size: 0.75em;
    width: 100%;
    line-height: 2.5em;
  }
  #second-line {
    margin-top: 1em;
    font-size: 0.8rem;
    line-height: 1.3em;
    width: 45%;
  }
  .action-items {
    margin-top: 2em;
    display: flex;
    align-items: center;
  } */
  #opening-line{
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 320px) {
  /* #opening-line {
    top: 8em;
    left: 3em;
    font-size: 0.5em;
    width: 100%;
    line-height: 2.5em;
  }
  #second-line {
    margin-top: 1em;
    font-size: 0.5rem;
    line-height: 1.5em;
    width: 60%;
  }
  .action-items {
    margin-top: 2em;
    display: flex;
    align-items: center;
  } */
  #opening-line{
    width: 100%;
    padding: 10px;
  }
}


